/* Feuilles qui tombent */
@keyframes fall {
    0% {
      transform: translateY(-100px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(90vh) rotate(360deg);
      opacity: 0;
    }
  }
  
  
  .itemDrop {
    position: absolute;
    width: 30px;
    height: 30px;
    animation: fall 8s infinite linear;
    opacity: 0.9;
  }
  
  /* Différentes tailles et animations pour des feuilles */
  .itemDrop:nth-child(1) { left: 10%; animation-duration: 6s; }
  .itemDrop:nth-child(2) { left: 20%; animation-duration: 8s; }
  .itemDrop:nth-child(3) { left: 30%; animation-duration: 7s; }
  .itemDrop:nth-child(4) { left: 40%; animation-duration: 9s; }
  .itemDrop:nth-child(5) { left: 50%; animation-duration: 8s; }
  .itemDrop:nth-child(6) { left: 60%; animation-duration: 10s; }
  .itemDrop:nth-child(7) { left: 70%; animation-duration: 7s; }
  .itemDrop:nth-child(8) { left: 80%; animation-duration: 11s; }