@keyframes fall {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
  }
  100% {
      transform: translateY(90vh) rotate(360deg);
      opacity: 0;
  }
}

.seasonal .itemDrop {
  position: absolute;
  width: 30px;
  height: 30px;
  animation: fall 7s linear forwards;
  opacity: 0.9;
  z-index: 100;
}
.seasonal .itemDrop{
  
  background: url('./logo_rond.png') no-repeat center center;
  background-size: contain;
}
