.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px;
    width: 100%;
}

.search-bar {
    border-radius: 30px;
    padding: 10px 15px;
    width: 100%;
    max-width: 400px; /* Limite la largeur à 400px */
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour effet de profondeur */
    padding-right: 40px; /* Espace pour l'image à droite */
}

.search-bar::placeholder {
    font-style: italic;
}

.search-bar-container .img-search {
    position: relative;
    right: 15px; /* Positionne l'image à droite dans le conteneur */
    top: 50%;
    transform: translateY(-50%);
    width: 24px; /* Taille de l'image */
    height: 24px;
    pointer-events: none; /* Désactive l'interaction avec l'image */
}
