.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    z-index: 1000;
}

.modal-overlay {
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.content-check {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bt-modal-close {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(82, 82, 82);
    color: white;
}
.bt-modal-close:hover {
    background-color: black;
    color: white;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.label-check {
    display: flex;
    align-items: center;
    gap: 8px;
}
/* Style global pour les éléments de la barre de défilement */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Couleur de fond de la piste de défilement */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Couleur de la barre de défilement */
    border-radius: 10px; /* Arrondir les bords de la barre */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur de la barre au survol */
}

/* Applique les styles de défilement à un conteneur spécifique */
.scrollable-container {
    
    overflow-y: scroll; /* Permet le défilement vertical */
    border: 1px solid #ccc; /* Bordure pour le conteneur */
    padding: 10px; /* Ajoute un peu de padding */
}
