.festive {
  --couleur-top-background: #290202;
  --couleur-bot-background:#cc3c18;

  --couleur-div-intro: #f1dddd;
  --couleur-titre: #290202;
  --couleur-content-text:#290202;

  --couleur-titre-vitrine: #f1dddd;

  --couleur-modal-cake:#290202;
  --couleur-container-cake-transparent: rgba(167, 112, 12, 0.38);
  --couleur-titre-modal-groupe: #f1dddd;

  --couleur-buton-retour-bk:#3b2508;
  --couleur-buton-retour-txt:#ffffff;
  --couleur-buton-retour-hover-bk:#d6b830;
  --couleur-buton-retour-hover-txt:#290202;

  --couleur-h: white;
}

.festive.body {
  background-image: url('../../../image/backround/halloween.jpg');
}
.festive .itemDrop{
  background: url('../../../image/itemDrop/citrouille.png') no-repeat center center;
background-size: contain;
}
.festive .switch .slider-image{
  background: url('../../../image/itemDrop/citrouille.png') no-repeat center center;
background-size: contain;
}
  
.festive.all-content .search-bar-container .img-search{
  background: url("../../../image/itemDrop/citrouille.png") no-repeat center center;
  background-size: contain;
}
.festive .container-groupe-cake .itemDeco{
  background: url("../../../image/itemDeco/tasFeuille.png") no-repeat center center;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 100%;
  width: 100%;
  max-width: none;
}