.festive {
  --couleur-top-background: #010630;
  --couleur-bot-background:#0b5166;

  --couleur-div-intro: #f1dddd;
  --couleur-titre: #290202;
  --couleur-content-text:#290202;

  --couleur-titre-vitrine: #f1dddd;

  --couleur-modal-cake:#290202;
  --couleur-container-cake-transparent: rgb(34 58 139 / 38%);
  --couleur-titre-modal-groupe: #f1dddd;
  --couleur-titre-modal-cake: #f1dddd;

  --couleur-buton-retour-bk:#3f0505;
  --couleur-buton-retour-txt:#ffffff;
  --couleur-buton-retour-hover-bk:#e95e02;
  --couleur-buton-retour-hover-txt:#e9bf02;

  --couleur-h: white;
}
  
.festive.body {
  background-image: url('./backround/noel.jpg');
}
.festive .itemDrop{
  background: url('./itemDrop/cadeau.png') no-repeat center center;
  background-size: contain;
}
.festive .switch .slider-image{
  background: url('./itemDrop/cadeau.png') no-repeat center center;
  background-size: contain;
}
  
.festive.all-content .search-bar-container .img-search{
  background: url("./itemDrop/cadeau.png") no-repeat center center;
  background-size: contain;
}
.festive .container-groupe-cake .itemDeco{
  background: url("./itemDeco/neigeNoel.png") no-repeat center center;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 100%;
  width: 100%;
  max-width: none;
}